@model IEnumerable<Assignment1.Models.Cart>

@{
    ViewData["Title"] = "Index";
}
<h1>Index</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Book)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Book.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
                Total
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
            double total = 0;
            int stt = 1;
            var thanhtien = item.Quantity * item.Book.Price;
        total = total + thanhtien;
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BookIsbn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Book.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @(thanhtien.ToString("n0"))
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
